<h2 class="center">Login</h2>
<form (ngSubmit)="submitDialog()">
  <span class="dialog-newline">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput placeholder="JhonSmit@gmail.com" [(ngModel)]="email" name="Title">
    </mat-form-field>
  </span>

  <span class="dialog-newline">
    <mat-form-field appearance="fill"> 
      <mat-label >Password</mat-label>
      <input matInput placeholder="SuperSecret" input="text" [(ngModel)]="password" name="Description" type="password">
    </mat-form-field>
  </span>
  <span class="center">
    <button mat-raised-button type="submit">Save</button>
  </span>
</form>
  