.center {
    margin: auto;
    text-align: center;
    padding: 10px;
  }  

  .mat-chip-list-stacked{
    margin: 0px;
  }

  .mat-chip-list-wrapper{
    margin: 0px;
  }

  .centerText {
    margin: auto;
    text-align: center;
    width: 100%;
  }  

  .colorBlue{
    background-color: #2980b9;
  }

  .centerBlock{
    width: 98%;
  }
  
  .todo-card{
    margin: 1em;
  }

  .todo-card-drag{
    cursor: move;
  }
  
  .todo-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .todo-list {
    min-height: 40em;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    background-color: #95a5a6;
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .todo-list.cdk-drop-list-dragging .todo-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }